# **Day 7 Assignment**

   **Question1**

        Write python code to toggle keys and value pair?

        Input:

                port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}

        Output:

                Port2 = {“FTP":21, "SSH":22, “telnet":23,"http": 80}

In [5]:
port1={21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}
port2={ }
for i in port1:
    port2[port1[i]]=i
print(port2)

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

   **Question2**

        Write a program to create list from tuple set by adding them?

        Input:

                [(1,2), (3,4), (5,6),(4,5)]

        Output:

                [3, 7, 11,9]

In [7]:
list1=[(1,2), (3,4), (5,6),(4,5)]
list2=[]

for i in list1:
    list2.append(i[0]+i[1])

print(list2)

[3, 7, 11, 9]