# **Day2 Assignment**
Whatever you have seen or learned in todayâ€™s session you need to write it down in Jupyter notebook.

## **Print Statement**
Used to print statement in python

In [1]:
print("Anandkumar")

Anandkumar

## **BACKSLASH**
when ever you want to print " or ' in a string then we use backslash

In [2]:
print("Anand\"kumar")

Anand"kumar

In [3]:
print('Anand\'kumar')

Anand'kumar

\  is used for escape sequences
\n for next line
\t for tab

In [5]:
print("Anand\nkumar")

Anand
kumar

In [6]:
print("Anand\tkumar")

Anand	kumar

## **triple Quotes**
this is used to print multilines in print()

In [7]:
print("""
    Anand
    kumar
    """)

    Anand
    kumar

In [8]:
print('''
    Anand
    kumar
    ''')

    Anand
    kumar

## **FORMATTED OUTPUT**

In [9]:
name="Anand"
marks=98
age=20
print("The name is ",name,"The marks are ",marks,"The age is ",age)

The name is  Anand The marks are  98 The age is  20

In [10]:
print("The name is %s \n The marks are %d \n The age is %d"%(name,marks,age))

The name is Anand
 The marks are 98
 The age is 20

## **VARIABLE ASSIGNMENT**

In [11]:
x=1
y=2
z=x+y
print(z)

3

In [12]:
x=1
y=1
print(id(x))
print(id(y))
print(id(1))

10914496
10914496
10914496

## **OPERATORS**
Arithematic operators

In [13]:
a=7
b=5
print(a+b)

12

In [14]:
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

2
35
1.4
1
2
16807

Relational operators

In [15]:
a=13
b=33

In [16]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

Logical operators

In [17]:
a=1
b=0

In [18]:
print(a and b)
print(a or b)
print(not a)

0
1
False

Bit wise operators

In [19]:
a=10
b=4

In [20]:
print(a&b)
print(a|b)
print(~a)
print(a^b)

0
14
-11
14

Assignment operators

In [21]:
a=12

print(a)

12

Identity operators

In [22]:
a1=3
b1=4
print(a1 is b1)
print(a1 is not b1)

False
True

Membership operators

In [23]:
x=[1,2,3,4]
y={1,3,4,6,'e'}
print(1 in x)
print('e' not in y)

True
False